/* Coolors Exported Palette - coolors.co/db150a-00160c-abb9bc-eac8ca-f2d5f8 */

/* HSL */
$color1: hsla(3%, 91%, 45%, 1);
$color2: hsla(153%, 100%, 4%, 1);
$color3: hsla(191%, 11%, 70%, 1);
$color4: hsla(356%, 45%, 85%, 1);
$color5: hsla(290%, 71%, 90%, 1);

/* RGB */
$color1: rgba(219, 21, 10, 1);
$color2: rgba(0, 22, 12, 1);
$color3: rgba(171, 185, 188, 1);
$color4: rgba(234, 200, 202, 1);
$color5: rgba(242, 213, 248, 1);